@charset "utf-8"; /*!
 * @version 8.3.22
 * @date 2018-09-12
 */
a,abbr,acronym,address,appvar,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}
a {
    text-decoration: none
}

html,body {
    min-width: 3.2rem;
    height: 100%;
    overflow: hidden;
}

body {

    min-width: 3.2rem;
    overflow-x: hidden;
}
.page{
    margin: 0 auto;
    background-image: url(../img/bg_small.png);
    background-size: auto;
    height: 100%;
    width: 100%;
    background-color: red;
}

#canvas_shu{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
