@charset "utf-8"; /*!
 * @version 8.3.22
 * @date 2018-09-12
 */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}
a {
    text-decoration: none
}

html,body {
    min-width: 3.2rem;
	
	height: 100%;
	overflow:hidden;
	
}
.play_page{
	
	height: 100%;
	background-image: url(../img/play_bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
}
.title{
	height: 0.54rem;
    display: flex;
    align-items: center;
}

.download_message{
	margin-left: 1.815rem;
	font-family: PingFangSC-Regular;
	font-size: 0.21rem;
	color: #FFFFFF;
	letter-spacing: 0;
}
.download_btn{
	margin-left:0.38rem;
	text-align: center;
    line-height: 0.27rem;
	height: 0.27rem;
	width: 0.75rem;
	border: 0.01rem solid #11CBAD;
	border-radius: 0.135rem;
	font-family: PingFangSC-Medium;
	font-size: 0.145rem;
	color: #11CBAD;
}
.play_box{
	flex: 1;
	display: flex;

}
.play_btn_box{
	position: relative;
	display: flex;
    justify-content: center;
    flex-direction:column; 
}
.play_btn_box,.play_btn_bg{
	width: 0.865rem;
    height: 100%;
   
}
.play_btn_bg{
	opacity: 0.17;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
}
.play_canvas_box{
	flex: 1;
	background: #FFF;
	display: flex;
    justify-content: center;
    align-items: center;
}
.play_operator_box{
	width: 0.865rem;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.play_back_box,.play_start_box,.play_item_box{
	display: flex;
    flex-direction: column;
    flex: 1;

}
.play_back{
	margin-top: 0.235rem;
	width: 0.287rem;
	height: 0.287rem;
	margin: 0.235rem auto 0 auto;
}
.play_start{
	width: 0.361rem;
	height: 0.361rem;
	margin: 0 auto 0 auto;
}
.play_back_txt{
	margin-top: 0.033rem;
	font-family: Helvetica;
	font-size: 0.094rem;
	color: #FFF;
	text-align: center;
}
.play_item_box img{
	width: 0.3945rem;
	height: 0.3945rem;
	margin: 0 auto;
	transform: rotate(90deg);
	z-index: 100;
}
.play_operator_num{
	margin-top: 0.033rem;
	font-family: Helvetica;
	font-size: 0.14rem;
	color: #FFF;
	text-align: center;
}
.favorite_margin_top{
	margin-top:0.395rem;
}
.play_canvas{
	
	
}

.play_canvas  canvas{
	
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.download_app_tip{
	width: 3.44rem;
	margin: 0 auto;
	border-radius: 0.07rem; 
	position: relative;
	box-shadow: 0 0.03rem 0.10rem 0 rgba(6,202,150,0.14);
    background: #FFF;
    height: 90%;
}
.win_title{
	height: 0.5rem;
	background-image: linear-gradient(-270deg, #27CAAD 1%, #5BCA6F 100%);
	font-family: PingFangSC-Medium;
	font-size: 0.17rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.5rem;
	border-radius: 0.07rem 0.07rem 0 0;

}

.class_num{
	/* margin-top: 0.25rem; */
	font-family: PingFangSC-Medium;
	font-size: 0.17rem;
	color: red;
	letter-spacing: 0;
	text-align: center;
}
.tip_message{
	margin-top: 0.04rem;
	font-family: PingFangSC-Regular;
	font-size: 0.15rem;
	color: #666666;
	letter-spacing: 0;
	text-align: center;
}
.win_bg_box{
	width: 100%;
	height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
}
.win_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	
}
.app_type_box img{
	width: 0.765rem;
	height: 0.76rem;
	display: block;
    margin: 0 auto;
}
.app_type_box .app_name{
	margin-top: 0.1rem;
	font-family: PingFangSC-Medium;
	font-size: 0.15rem;
	color: #333333;
}
.app_type_box{
	margin-top: 0.1rem;
	display: flex;
	justify-content: space-around;
}
.download_btn_box{
	display: flex;
	justify-content: space-around;
	margin-top: 0.1rem;
}
.download_app_btn{
	width: 1.06rem;
	height: 0.33rem;	
	background: #27CAAD;
	border: 0.01rem solid #25C1A5;
	box-shadow: 0 0.01rem 0.02rem 0 rgba(57,221,173,0.33);
	border-radius: 0.165rem;
	font-family: PingFangSC-Medium;
	font-size: 0.16rem;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 0.33rem;
	text-align: center;

}
.teacher_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.closed_box{
	width: 0.27rem;
	height: 0.27rem;
	
	position: absolute;
	top: -0.11rem;
	right: -0.025rem;
	background-image: url(../img/close.png);
	background-size: contain;
}
.download_tip{
	width: 3.44rem;
	height: 1.95rem;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0 0.03rem 0.1rem 0 rgba(6,202,150,0.14);
	border-radius: 0.07rem;
}
.download_app_bg{
	background-image: url(../img/win_bg.png);
	height: 0.6rem;
	margin-top:-0.22rem; 
	background-size: cover;
	border-radius: 0 0 0.08rem 0.08rem;
}
.tip_download_message,.tip_download_message_play{
	font-family: PingFangSC-Medium;
	font-size: 0.15rem;
	color: #666666;
	letter-spacing: 0;
	text-align: center;
	margin-top: 0.36rem;
	
}
.tip_download_bt{
	
	width: 0.92rem;
	height: 0.33rem;
	background: #27CAAD;
	border: 0.01rem solid #25C2A6;
	box-shadow: 0 0.01rem 0.02rem 0 rgba(57,221,173,0.33);
	border-radius: 0.165rem;
	font-family: PingFangSC-Medium;
	font-size: 0.16rem;
	color: #FFFFFF;
	letter-spacing: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.28rem auto 0 auto;
}
.download_app_bg{
	background-image: url(../img/win_bg.png);
    height: 0.6rem;
    margin-top: -0.22rem;
    background-size: cover;
    border-radius: 0 0 0.08rem 0.08rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.tip_bg{
	background-image: url(../img/win_bg.png);
	height: 0.33rem;
	
	background-size: cover;
}
.tip_message_p{
	width: 3.02rem;
	text-align: left;
    margin: 0 auto;
}

.tip_download_message_play{
	margin-top: 0.24rem;
}
.tip_download_btn_box{
	margin-top: 0.14rem;
	display: flex;
	justify-content: center;
}

.btn_box_3,.btn_box_4{
	flex: 1;
	display: flex;
	
}
.btn_box_3{
	justify-content: flex-end;
}
.btn_box_4{
	justify-content: flex-start;
}

.download_paly_3,.download_paly_4{
	
	text-align: center;
    line-height: 0.33rem;
	height: 0.33rem;
	width: 0.92rem;
	
	border-radius: 0.165rem;
	font-family: PingFangSC-Medium;
	font-size: 0.14rem;
	
}
.download_paly_3{
	margin-right: 0.2225rem;
	background: #27CAAD;
	border: 0.01rem solid #11CBAD;
	color: #FFF;
}
.download_paly_4{
	margin-left: 0.2225rem;
	color: #666666;
	border: 0.01rem solid #868C8A;
	background: #FFF;
}






.download_tip_shu{
	width: 6.29rem;
	height: 3.56rem;
	background: #FFFFFF;
	position: relative;
	
	box-shadow: 0.128rem 0.128rem 0 0 rgba(6,202,150,0.14);
	border-radius: 0.128rem;
	overflow-x: hidden;
}

.win_title_shu{
	width: 6.30rem;
	font-size: 0.311rem;
	font-family: PingFangSC-Medium;
	
	color: #FFFFFF;
	text-align: center;
	line-height: 0.915rem;
	background-image: linear-gradient(-270deg, #27CAAD 1%, #5BCA6F 100%);
	
	height: 0.915rem;
	
	
	border-radius: 0.128rem 0.128rem 0 0;

}


.download_app_bg_shu{
	background-image: url(../img/win_bg.png);
	height: 0.6rem;
	margin-top:-0.22rem; 
	background-size: cover;
	border-radius: 0 0 0.08rem 0.08rem;
}
.tip_download_message_shu,.tip_download_message_play_shu{
	font-family: PingFangSC-Medium;
	font-size: 0.2745rem;
	color: #666666;
	letter-spacing: 0;
	text-align: center;
	margin-top: 0.8rem;
	

}

.tip_bg_shu{
	background-image: url(../img/win_bg.png);
	height: 0.6rem;
	
	background-size: cover;
	position: absolute;
    bottom: 0;
    width: 100%;
}






