<!DOCTYPE html>
<html>
<head>
	<title>错题分享</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
  	<meta content="yes" name="apple-mobile-web-app-capable">
  	<meta content="yes" name="apple-touch-fullscreen">
  	<meta content="telephone=no,email=no" name="format-detection">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  	<link rel="stylesheet" type="text/css" href="css/share_problem.css">
  	<script type="text/javascript" src="js/vue.min.js"></script>
  	<script type="text/javascript" src='js/axios.min.js'></script>



	<script type="text/javascript">
        (function(){
            var currClientWidth,
                fontValue,
                originWidth;
                originWidth = 750;//ui设计稿的宽度，一般750或640
                __resize();

                window.addEventListener('resize', __resize, false);

                function __resize() {
                    currClientWidth = document.documentElement.clientWidth;
                    if (currClientWidth > 750){
                        currClientWidth = 750;
                    } 
                    if (currClientWidth < 320){
                        currClientWidth = 320;
                    } 
                    fontValue = currClientWidth;
                    document.documentElement.style.fontSize = fontValue/3.75 + 'px';
                }
        })();
    </script>
</head>

<body id="page_body">
	<div class="page" id="body">
		<div class="container">
			<div class="title_box" v-show="weixin">

				<div>错题分享</div>
			</div>
			<div class="problem_box">
				<div class="problem_title_box">
					<img :src="clazzUrl">
					<div class="problem_info_box">
						<div class="class_title">{{clazzGroup.clazzTempName}}（{{clazzGroup.code}}）</div>
						<div class="class_info">
							<p class="">作业（{{clazzGroup.homeworkCount}}）</p>
							<p class="">通知（{{clazzGroup.clazzNoticeCount}}）</p>
							<p class="">错题（{{clazzGroup.wrongTitleCount}}）</p>
						</div>
					</div>

				</div>
				<div class="problem_video_box">
					<div class="opacity_box_container">
						
					</div>
					<div class="opacity_box">
						<img class="start_btn" src="img/start.png"  v-on:click="openPlayPage(wrongTitle.videoTime)">
					</div>
					<img class="problem_pic" :src="wrongTitle.picUrl">
					<div class="timer_box_opacity"></div>
					<div class="timer_box">{{wrongTitle.videoTime}}</div>				
				</div>
				<div class="problem_subject">
					<p>学科：{{wrongTitle.courseName}}</p>
					<p class="problem_author">发布者：{{wrongTitle.nickname}}</p>
				</div>
				<div class="problem_desc">
					<div class="problem_desc_title">{{clazzGroup.clazzTempName}}错题：</div>
					
					<div class="problem_desc_content">
						{{wrongTitle.content}}
					</div>
				</div>
				<div class="download_btn" v-on:click='showDownloadAppTip'>
					下载APP，观看更多班级内容！
				</div>
			</div>
			<div class="other_problems_box" v-show="otherWrongTitleList.length > 0">
				<div class="other_problem_title">
					本班错题其他错题：
				</div>
				
				<div class="other_problem_list">
					<div class="other_problem_item"  v-for="otherWrong in otherWrongTitleList">
						<div class="other_problem_image_box">
							<div class="other_problem_image" v-if="otherWrong.picUrl"  :style="{'background-image': 'url('+otherWrong.picUrl+')'}">
								<img v-on:click="showDownloadTip"  v-if="otherWrong.picUrl"  src="img/start.png" class="other_start_btn" >
							</div>
							<div v-if="otherWrong.picUrl"  class="other_timer_bar" >{{otherWrong.videoTime}}</div>
						</div>
						<div v-if="otherWrong.picUrl"  class="other_problem_desc">
							{{otherWrong.content}}
						</div>
					</div>
					
				</div>
			</div>
			<div class="tip_box">
				<div class="tip_wrapper">
					<div class="teacher_title">
						<img class="tip_icon" src="img/teacher_icon.png">
						<div class="info_box">
							<div class="info_name">【教师秘书】</div>
							<div class="info_sologon">比微信更好用的班级管理工具</div>
						</div>
					</div>
					<div class="tip">
						班级消息传达更加高效，拒绝微信通知的“假方便”，让教学更简单。
					</div>
				</div>
				<h1></h1>
				<div class="tip_wrapper">
					<div class="teacher_title">
						<img class="tip_icon" src="img/parent_icon.png">
						<div class="info_box">
							<div class="info_name">【家长帮手】</div>
							<div class="info_sologon">让家长辅导孩子不再是难题</div>
						</div>
					</div>
					<div class="tip">
						父母是孩子教育的第一步，关爱孩子家校共育，不做“失陪父母”。
					</div>
				</div>
				<div class="sharp_bg"></div>

			</div>
		</div>
		<div class="win_bg_box"   v-show="isShow"  @touchmove.prevent v-bind:style="{height: screentHeight + 'px' }">
			<div class="win_bg"  v-bind:style="{height: screentHeight + 'px' }"></div>


			<div class="download_app_tip_heng" v-show="isHengWinShow"  v-bind:style="{width: hengWinWidth + 'px',height: hengWinHeight + 'px' }" ref='downloadAppTipHeng'>

				<div class="closed_box_heng" v-on:click="closeDownloadAppTip">
				</div>
				<div class="win_title_heng">提示</div>
				<div class="tip_message_heng">
					<div class="class_num_heng">{{clazzGroup.code}}</div>
					<div class="tip_message_heng_join">请牢记此班级号（加入班级时使用）</div>
				</div>
				<div class="app_type_box_heng">
					<div class="teacher_box_heng">
						<img class="teacher_icon_heng" src="img/teacher_icon.png">
						<div class="app_name_heng">【教师秘书】</div>
					</div>
					<div class="teacher_box_heng">
						<img class="teacher_icon_heng" src="img/parent_icon.png">
						<div class="app_name_heng">【家长帮手】</div>
					</div>
				</div>
				<div class="download_btn_box_heng">
					<div class="download_app_btn_heng" v-on:click="openTeacherApp">老师请下载</div>
					<div class="download_app_btn_heng" v-on:click="openParentApp">家长请下载</div>
				</div>
				<div class="download_app_bg_heng"></div>

			</div>




			<div class="download_app_tip" v-show="isDownloadAppTipShow">
				
				<div class="closed_box" v-on:click="closeDownloadAppTip">
				</div>
				<div class="win_title">提示</div>
				<div class="tip_message">
					<div class="class_num">{{clazzGroup.code}}</div>
					<div class="tip_message">请牢记此班级号（加入班级时使用）</div>
				</div>
				<div class="app_type_box">
					<div class="teacher_box">
						<img class="teacher_icon" src="img/teacher_icon.png">
						<div class="app_name">【教师秘书】</div>
					</div>
					<div class="teacher_box">
						<img class="teacher_icon" src="img/parent_icon.png">
						<div class="app_name">【家长帮手】</div>
					</div>
				</div>
				<div class="download_btn_box">
					<div class="download_app_btn" v-on:click="openTeacherApp">老师请下载</div>
					<div class="download_app_btn" v-on:click="openParentApp">家长请下载</div>
				</div>
				<div class="download_app_bg"></div>
			
			</div>
		    <div class="download_tip" v-show="isDownloadTipShow">
		    	<div class="closed_box" v-on:click="closeDownloadAppTip"></div>
				<div class="win_title">提示</div>
				<div class="tip_download_message">下载APP后，在班级中才能观看哦！</div>
				<div class="tip_download_bt" v-on:click="downloadApp">下载app</div>
				<div class="tip_bg"></div>
		    </div>

		</div>
	</div>
	
	<script type="text/javascript">
        //var testUrl = "http://10.98.24.198:8080/teacher_business/business/wrongtitle/getShareWrongTitleByIdAndClazzId.json";
        //var url = "http://teacherasst.openonline.com.cn/business/wrongtitle/getShareWrongTitleByIdAndClazzId.json";
        var testUrl = 'wrong.txt';
        var url = 'wrong.txt';

        //判断是否是微信浏览器的函数
        function isWeiXin() {
            //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
            var ua = window.navigator.userAgent.toLowerCase();
            //通过正则表达式匹配ua中是否含有MicroMessenger字符串
            if (ua.match(/MicroMessenger/i) == 'micromessenger' || ua.match(/QQ/i) == "qq") {
                return true;
            } else {
                return false;
            }
        }


        var page = new Vue({
            el: '#body',
            data: {
                isShow: false,
                screentHeight: 0,
                clazzGroup: {},
                wrongTitle: {},
                otherWrongTitleList: [],
                clazzId: 0,
                wrongTitleId: 0,
                weixin: false,
                code: 0,
                clazzId: 0,
                url: '',
                hengWinHeight: 0,
                hengWinWidth: 0,
                isHengWin: false,
                isHengWinShow: false,
                isDownloadAppTipShow: false,
                isDownloadTipShow: false,
                clazzUrl:""

            },
            created: function() {

                this.clazzId = this.getParam('clazzId');
                this.wrongTitleId = this.getParam('wrongTitleId');
                this.weixin = !isWeiXin();

                if (window.location.host.indexOf('teacherasst.openonline.com.cn') == 0) {
                    this.url = url;
                } else {
                    this.url = testUrl;
                }


                this.checkScreen();
                this.getlist();


            },
            methods: {
                getlist: function() {

                    var self = this;
                    //请求服务器的api获取到品牌的数据列表
                    var version = navigator.userAgent.toLowerCase();
                    var android = version.indexOf('Android');

                    var device;
                    if (android > -1) {
                        device = 'android';
                    } else {
                        device = 'ios'
                    }
                    var data = new Object();
                    var params = new Object();
                    params.identification = this.wrongTitleId;
                    params.clazzGroupId = this.clazzId;

                    data.params = params;



                    axios({
                        url: this.url,
                        method: 'POST',
                        data: data,
                        headers: {
                            'Content-Type': 'application/json',
                            'version': '2.4.0',
                            'device': 'ios',
                            'UserAgent': 'teacher'
                        }
                    }).then(function(response) {
                        var result = response.data;
                        //处理服务器异常信息提示
                        if (result.code != 200) {
                            alert("请求错误");
                            window.location.href = 'error.html';
                            return;
                        }
                        self.clazzGroup = result.data.clazzGroup;
                        self.code = self.clazzGroup.code;
                        //计算一下班级头像用哪一张
						var numIndex = Number.parseInt(self.code);
						var picIndex = numIndex % 5;
						self.clazzUrl = "img/"+picIndex + ".png";
                        sessionStorage.setItem("code", result.data.clazzGroup.code);
                        var wrongTitle = result.data.wrongTitle;


                        wrongTitle.picUrl = wrongTitle.pictures[0].url;

                        self.wrongTitle = result.data.wrongTitle;


                        var otherWrongTitleList = result.data.otherWrongTitleList;
                        var picSize = otherWrongTitleList.length;
                        if (picSize > 3) {
                            picSize = 3;
                        }
                        var tempOtherPic = [];
                        for (var i = 0; i < picSize; i++) {
                            var temp = otherWrongTitleList[i];
                            if (temp.hasPicture != 1) {
                                temp.picUrl = 'img/u2.jpg';
                            } else {
                                temp.picUrl = temp.pictures[0].thu_url;
                            }
                            tempOtherPic.push(temp);

                        }
                        if (tempOtherPic.length == 2) {
                            var temp = {};
                            temp.picUrl = "";
                            tempOtherPic.push(temp);
                        }
                        self.otherWrongTitleList = tempOtherPic;



                    }).catch(function(error) {
                        console.log(error);
                    });

                },
                openPlayPage: function(id, event) {
                    window.location.href = 'play.html?clazzId=' + this.clazzId + '&wrongTitleId=' + this.wrongTitleId;
                },
                closeDownloadAppTip: function() {
                    this.isShow = false;
                    this.isHengWinShow = false;
                    this.isDownloadAppTipShow = false;
                    this.isDownloadTipShow = false;
                    var body = document.getElementById('page_body');
                    body.style.overflow = '';
                },
                showDownloadAppTip: function() {

                    this.isShow = true;

                    var body = document.getElementById('page_body');
                    body.style.overflow = 'hidden';

                    if (this.hengPing()) {
                        this.isHengWinShow = true;
                    } else {
                        this.isDownloadAppTipShow = true;
                    }

                    window.addEventListener("resize", this.checkScreen, false);

                    this.screentHeight = window.innerHeight;

                },

                showDownloadTip: function() {
                    this.isShow = true;
                    var body = document.getElementById('page_body');

                    body.style.overflow = 'hidden';

                    this.isDownloadTipShow = true;

                    this.screentHeight = window.innerHeight;
                },
                downloadApp: function() {
                    this.closeDownloadAppTip();
                    this.showDownloadAppTip();
                },
                openTeacherApp: function() {

                    window.location.href = "openteacher://open?code=" + this.code + "&openType=joinClazz&clazzId=" + this.clazzId;

                    setTimeout(function() {
                        window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.open.teachermanager"; //android 下载地址

                    }, 500);



                },
                openParentApp: function() {
                    window.location.href = "openparents://open?code=" + this.code + "&openType=joinClazz&clazzId=" + this.clazzId;

                    setTimeout(function() {
                        window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.open.parentmanager";
                    }, 500);

                },
                checkScreen: function() {
                    console.info("屏幕发生了变化。。。。" + (new Date()).getTime());
                    var self = this;

                    this.screentHeight = window.innerHeight;

                    var innerHeight = window.innerHeight;
                    var winHeight = innerHeight * 0.65;
                    this.hengWinHeight = Math.floor(winHeight);

                    var winWidth = 1.5 * winHeight;
                    this.hengWinWidth = Math.floor(winWidth);

                    console.info("checkScreen:" + this.hengPing());

                    if (this.hengPing()) {
                        if (this.isShow && this.isDownloadAppTipShow) {
                            this.isHengWinShow = true;
                            this.isDownloadAppTipShow = false;
                        }
                    } else {
                        if (this.isShow && this.isHengWinShow) {
                            this.isHengWinShow = false;
                            this.isDownloadAppTipShow = true;
                        }
                    }



                },
                hengPing: function() {
                    var mql = window.matchMedia("(orientation: portrait)");
                    return !mql.matches;
                },
                getParam: function(paramName) {
                    paramValue = "", isFound = !1;
                    if (window.location.search.indexOf("?") == 0 && window.location.search.indexOf("=") > 1) {
                        arrSource = unescape(window.location.search).substring(1, window.location.search.length).split("&"), i = 0;
                        while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
                    }
                    return paramValue == "" && (paramValue = null), paramValue
                }
            }


        });
	</script>

</body>
</html>